# Eclipse stuff
.classpath
.project
.settings/

# VSCode stuff
.vscode/

# netbeans
nbproject/
nbactions.xml

# we use maven!
build.xml

# maven
target/
dependency-reduced-pom.xml

# vim
.*.sw[a-p]

# various other potential build files
build/
bin/
dist/
manifest.mf

/work/Temp/
work/1.*
work/Minecraft
work/BuildData
work/Bukkit
work/CraftBukkit
work/Paperclip
work/Spigot
work/Spigot-Server
work/Spigot-API
work/*.jar
work/test-server
work/ForgeFlower

# Mac filesystem dust
.DS_Store/
.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/
out/

# Linux temp files
*~

# other stuff
run/

Paper-Server
Paper-API
Paperclip.jar
paperclip.jar
paperclip-*.jar
paperclip.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/7.4.2/checksums/checksums.lock
/.gradle/7.4.2/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.4.2/executionHistory/executionHistory.lock
/.gradle/7.4.2/fileHashes/fileHashes.bin
/.gradle/7.4.2/fileHashes/fileHashes.lock
/.gradle/7.4.2/dependencies-accessors/gc.properties
/.gradle/7.4.2/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/7.4.2/fileChanges/last-build.bin
/.gradle/7.4.2/checksums/md5-checksums.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/7.4.2/checksums/sha1-checksums.bin
/test-plugin.settings.gradle.kts
